.social-networks-block {
  display: flex;
  padding-top: 1.5vh;
}

.icons-header {
  color: yellow;
}

.logo-img {
  max-width: 70px;
  height: auto;
}

.filter-btn {
  padding-left: 9vw;
  padding-top: 1.5vh;
}
.fake-block {
  width: 100%;
  height: 250px;
  display: flex;
  background: #eeeeee;
}
.image-spinner {
  margin: auto;
}
.fake-video-block {
  padding: 20px 20px 0 20px;
}
.skeleton-fake-text {
  background-color: #eeeeee;
  height: 20px;
  padding-top: 20px;
}
.pad-top-5 {
  padding-top: 5px;
}
